/*
 Theme Name:   GeneratePress Child
 Theme URI:    https://generatepress.com
 Description:  Default GeneratePress child theme
 Author:       Tom Usborne
 Author URI:   https://tomusborne.com
 Template:     generatepress
 Version:      0.1
*/

body {
    background-color: white !important;
}

.inside-top-bar {
    padding: 0;
}
.top-bar.top-bar-align-right {
    max-height:  40px;
}
ul#menu-top-bar {
    flex-direction:  row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    justify-content: flex-end;
    max-height: 40px;
    background-color:  black;
    z-index: 999 !important;
    position: relative;
    -webkit-transform: none;
    transform: none;
    overflow: auto;
    padding: 0;
    width: 100%;
}
ul#menu-top-bar li.menu-item li {
    padding-bottom: 0;
}
ul#menu-top-bar li.menu-item a {
    padding: 0 25px 0 0;
    display: block;
    line-height: 40px;
    height: 40px;
    font-size: 12px;
    color: #f0ef37;
    font-weight: 400;
    font-family:  sans-serif;
    text-transform: uppercase;
}
ul#menu-top-bar li.menu-item:last-child a {
    background-color: #373737;
    padding: 0 60px;
}

nav.navbar.navbar-toggleable-md {
    top: 40px;
}
nav.navbar a.navbar-brand {
    margin-right: 30px;
}
.woocommerce-product-search input {
    border: 1px solid #bebebe;
    padding: 3px 10px;
    max-width: 180px;
}
.woocommerce-product-search button {
    color: white;
    background-color: black;
    padding: 0 10px;
    line-height: 32px;
    margin-left: -4px;
}
.header-widget .widget {
    float: left;
}
.header-widget {
    max-width: 100%;
    margin-top: 0;
    height: 110px;
    margin-right: 0;
    width: 100%;
}
.header-widget .widget {
    padding-bottom: 0;
}
.header-widget .widget:not(:first-child) {
    float: right;
    margin-top: 20px;
}
.inside-header {
    padding-bottom: 20px;
    padding-top: 20px;
}
.site-logo {
    display: none;
}


.top-bar.top-bar-align-right {
    background-color: black;
}

aside#media_image-2 {
    max-width: 50px;
    margin-left: 40px;
}
#text-3 {
    margin-left: 10px;
}
#text-3 h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 2px;
}
#text-3 p {
    font-size: 0.73em;
}

aside#media_image-3 {
    max-width: 50px;
    margin-left: 50px;
}

aside#woocommerce_product_search-2 {
    margin-top: 30px;
}

.row {
    clear: both;
}



/* Home Page Hero section (current issue posts) */

#show-news a .elementor-button-text:after, #show-more:after {
    content: ' More';
}
#show-news a.less .elementor-button-text:after, #show-more.less:after {
    content: ' Less';
}




#prod_cat-nav {
    background-color: #F1EF02;
}
#prod_cat-nav nav.woocommerce-breadcrumb {
    margin: 13px;
    float: right;
    margin-right: 40px;
}
#prod_cat-nav nav.navigation {
    float: left;
    width: auto;
    background-color: #F1EF02;
    min-height: 40px;
    height: 50px;
}
#prod_cat-nav .clear {
    clear: both;
}
.woocommerce .woocommerce-breadcrumb a {
    color: #373737;
}



#content {
    padding-top: 0;
}
body.single-product #content,
body.woocommerce-cart #content,
body.woocommerce-checkout #content {
    padding-top: 50px;
    max-width: 1200px;
    margin: 0 auto;
}


/* Footer */

.footer-widgets, .widget-area .widget {
    padding: 0;
}




/*  Homepage Specific */
.elementor-testimonial__image {
    position: relative;
    top: -22px;
    left: -29px;
}









/* WooCommerce Products - Archive */

.woocommerce ul.products {
    padding-top: 15px;
}
header.woocommerce-products-header.hasImgBG {
    background-position: center center;
    background-size: cover;
    min-height:  30vh;
}
.woocommerce.archive header.woocommerce-products-header.hasImgBG .woocommerce-products-header__title.page-title,
header.woocommerce-products-header.hasImgBG .term-description p {
    color: white;
    text-shadow: 0 0 10px black;
    text-align: center !important;
    float: none;
    padding-top: 30px;
}
header.woocommerce-products-header.hasImgBG .term-description p a {
    color: #f1ef00;
}

h2.featured-title {
    clear: both;
    text-align: center;
    margin-bottom: 20px;
}

body.archive li.product div ul li {
    font-size: .7em;
}
.slick-list {
    margin-left: -25px;
    margin-right: -25px;
}
/* .slick-slide {
    padding-left: 25px;
    padding-right: 25px;
} Removed cause not needed in Generate Press anymore */

body .elementor-slick-slider .slick-next:before,
body .elementor-slick-slider .slick-prev:before,
.elementor-slick-slider .slick-next,
.elementor-slick-slider .slick-prev,
.slick-slider .slick-prev:before,
.slick-slider .slick-next:before,
.slick-slider .slick-prev .nav-text,
.slick-slider .slick-next .nav-text {
    font-size: 35px;
    color: #000000;
}
.woocommerce ul.products li.product.sub-category, .woocommerce-page ul.products li.product.sub-category {
    margin: 0 2.4% 2.992em 0;
}
#long-desc {
    max-width: 700px;
    margin: 80px auto 0 auto;
}
ul#subCat-sidebar li {
    list-style: none;
    background-color: black;
    margin: 5px 0;
}
ul#subCat-sidebar li:hover {
    background-color: #00c7c6;
}
ul#subCat-sidebar li a {
    display: inline-block;
    padding: 10px;
    color: white;
    text-transform: uppercase;
}
ul#subCat-sidebar li a:hover {
    text-decoration: none;
}
ul#subCat-sidebar {
    padding: 0;
}
.product-star {
    margin: 40px 0;
}
.product-star h3 {background-color:  #f0ef37;text-align: center;font-size: 1.3em;font-weight: 300;margin: 0;padding: 5px 0;color: black;}
.product-star a { border: 1px solid #eee; display: block; }
.product-star a, .product-star a:hover {
    text-decoration: none;
}
.product-star h2, .product-star p {
    color: white;
    background-color: black;
    margin: 0;
    padding: 15px;
    font-size: .7em;
}
.product-star h2 {
    font-weight: bold;
}
.product-star .woocommerce-product-details__short-description {
    background-color: black;
    color: white;
    font-size: 0.6em;
    padding: 15px;
    padding-top: 0;
}
.product-star img {
    margin: 0 auto;
    display: block;
}
.product-star button {
    color: white;
    background-color: #00c7c6;
    width: 100%;
    cursor: pointer;
}

.woocommerce-product-details__short-description li,
.woocommerce-product-details__short-description li p,
.woocommerce-product-details__short-description p
{
    margin-bottom: 0;
    font-size: 11px;
}
body.woocommerce-page li.product a {
    color: black;
}
body.woocommerce-page li.product:hover a {
    color: #333;
}
ul.products li.product h2.woocommerce-loop-product__title {
    font-weight: 500;
    padding-bottom: .5em;
}
ul.products .sku {
    font-size: 12px;
    margin-bottom: 10px;
}
.product p.bulk {
    font-size: 14px;
    margin-bottom: 0;
}

.woocommerce.archive ul.products li.product strong {
    display: inline;
    font-weight: bold;
}

.woocommerce .woocommerce-product-details__short-description * {
    font-size: 11px !important;
    font-weight: normal !important;
}

div#tab-description p * {
    font-size: inherit !important;
}

/* Cart and Checkout */

@media screen and (max-width: 768px) {
    a.button.wc-backward {
        max-width: 85% !important;
        text-align: center;
        margin-bottom: 10px;;
    }
}
.woocommerce-billing-fields__field-wrapper:before {
    content: 'Please make sure the billing details match the address for your credit card.';
    display: block;
    background: #f7f6f7;
    border-top: 3px solid #F1EF02;
    padding: 15px;
    margin-bottom: 20px;
}

ul.woocommerce-paytrace-SavedPaymentMethods-card.wc-saved-payment-methods {
    list-style: none;
    margin: 0;
}

/* Account pages */

body.woocommerce-account #main {
    margin-top: 40px;
}
body.woocommerce-account li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--downloads {
    display: none;
}

body.woocommerce-cart dt.variation-Clickonanimagetoselectthewig,
body.woocommerce-checkout dt.variation-Clickonanimagetoselectthewig{
    font-size: 0;
}
body.woocommerce-cart dt.variation-Clickonanimagetoselectthewig:before,
body.woocommerce-checkout dt.variation-Clickonanimagetoselectthewig:before{
    content: 'Wig:';
    font-size: 16px;
    padding-right: 5px;
}


/* Single Product page */

#freight-only, #freight-only img {
    text-align: center;
    margin: 0 auto;
    display: block;
}
body.single-product span.posted_in {
    display: block;
}
body.single-product section.related.products {
    margin-top: 110px;
}
.woocommerce .quantity .qty {
    width: 5em;
}
h3#sold-by {
    margin-top: 20px;
    margin-bottom: 5px;
}


/*  Cart and Checkout   */
/* .form-row-wide {
    max-width: 47%;
    min-width: 300px;
}*/



/*  Wig Selection Radio Field  */

ul#input_1_1 li {
    width:  25%;
    float: left;
    text-align: center;
    height: 200px;
}
ul#input_1_1 li label {
    cursor: pointer;
}
ul#input_1_1 li input {
    display: none;
}




/*  Over-written in Customize */
div#tel-cart {
    display: flex;
    max-width: 424px;
}
div#tel-cart div {
    position: relative;
}
div#tel-cart h3 {
    font-size: 22px
}
div#tel-cart p {
    font-size: 12px;
    color: black;
}
div#media_image-2 {
    max-width: 50px;
    top: 5px
}
div#media_image-3 {
    max-width: 70px;
    top: -7px;
}
div#text-3 {
    margin: 0 40px 0 10px;
}


@media screen and (max-width: 868px) {
#text-3 {
        display:none;
    }
}


@media screen and (max-width: 768px) {

    .inside-header {
        padding: 20px;
    }
    
    .navigation-brand-text {
        display: none;
    }
    
    ul#menu-top-bar li {
        padding: 0;
    }
    ul#menu-top-bar li.menu-item a {
        padding: 0 10px 0 0;
    }
    ul#menu-top-bar li.menu-item:last-child a {
        padding: 0 15px;
    }
    .woocommerce-page ul.products.columns-4 li.product, .woocommerce ul.products.columns-4 li.product {
        width: 48% !important;
    }
}
@media screen and (max-width: 650px) {

    #masthead .header-widget {
        margin-bottom: 0;
        height: 140px;
    }
    ul#menu-top-bar li:first-child,
    ul#menu-top-bar li:nth-child(2) {
        display: none;
    }
    aside#media_image-2, aside#media_image-3 {
        max-width: 40px;
        margin-left: 20px;
    }
    aside#media_image-6 {
        max-width: 100px;
    }
    aside#woocommerce_product_search-2 {
    margin-top: 25px;
}
    
}
@media screen and (max-width: 550px) {
    #woocommerce_product_search-2 {
        position: absolute;
        top: 85px;
        left: 0;
        width: 100%;
    }
    .woocommerce-product-search input {
        max-width: 55%;
        margin-left: 0;
    }
}