
/* COLORED SKIN
 ================================*/
.navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-avatar-item):not(.navigation-logo) .navigation-link {
  z-index: 1;
  transition: border-color 0.3s, color 0.3s, background 0.3s;
}

.navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-avatar-item):not(.navigation-logo) .navigation-link:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  transition: background 0.3s;
}

.navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text):hover .navigation-link,
.navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text):focus .navigation-link,
.navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text).is-active .navigation-link {
  color: #000;
  border-color: #ffff33;
}

.navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text):hover .navigation-link:after,
.navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text):focus .navigation-link:after,
.navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text).is-active .navigation-link:after {
  background-color: #ffff33 !important;
}

.navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text):hover > .navigation-link > .submenu-indicator:after,
.navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text):focus > .navigation-link > .submenu-indicator:after,
.navigation-menu:not(.navigation-social-menu) .navigation-item:not(.navigation-avatar-item):not(.navigation-logo):not(.navigation-brand-text).is-active > .navigation-link > .submenu-indicator:after {
  border-color: transparent #373737 #373737 transparent;
}

.navigation-dropdown-link {
  transition: border 0.3s, color 0.3s, background 0.3s;
}

.navigation-dropdown-item:hover > .navigation-dropdown-link,
.navigation-dropdown-item:focus > .navigation-dropdown-link,
.navigation-dropdown-item.is-active > .navigation-dropdown-link {
  color: #000;
  background-color: #ffff33;
  border-color: #ffff33;
}

.navigation-dropdown-item:hover > .navigation-dropdown-link > .submenu-indicator:after,
.navigation-dropdown-item:focus > .navigation-dropdown-link > .submenu-indicator:after,
.navigation-dropdown-item.is-active > .navigation-dropdown-link > .submenu-indicator:after {
  border-color: transparent #373737 #373737 transparent;
}

.navigation-list > li > a {
  color: #000000;
}

.navigation-list > li > a:hover {
  color: #000;
  background-color: #f0ef37;
}
