/*
 Theme Name:   ACME - Fusion Child
 Theme URI:    http://adaldesign.com
 Description:  For ACME website: Child theme of Fusion WordPress Theme
 Author:       ADALDESIGN
 Author URI:   http://adaldesign.com
 Template:     fusion
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  fusion-child
*/


#topBar {
    padding: 0;
    max-height:  40px;
}
#topBar .menu-top-bar-container {
    width: 100%;
}
ul#menu-top-bar {
    flex-direction:  row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    justify-content: flex-end;
    max-height: 40px;
    background-color:  black;
    z-index: 999 !important;
    position: relative;
    -webkit-transform: none;
    transform: none;
    overflow: auto;
    padding: 0;
    width: 100%;
}
ul#menu-top-bar a.nav-link {
    padding: 0 25px 0 0;
    display: block;
    line-height: 40px;
    font-size: 12px;
    color: #f0ef37;
    font-weight: 400;
    font-family:  sans-serif;
    text-transform: uppercase;
}
ul#menu-top-bar li:last-child a.nav-link {
    background-color: #373737;
    padding: 0 60px;
}

nav.navbar.navbar-toggleable-md {
    top: 40px;
}
nav.navbar a.navbar-brand {
    margin-right: 30px;
}
.woocommerce-product-search input {
    border: 1px solid #bebebe;
    padding: 3px 10px
}
.woocommerce-product-search button {
    color: white;
    background-color: black;
    padding: 0 10px;
    line-height: 32px;
    margin-left: -4px;
}

.row {
    clear: both;
}


/* Categories Menu */

#prod_cat-nav {
    position: relative;
    height: 20px;
    z-index: 999;
    top: -15px;
    margin-right: 2em;

}
#prod_cat-nav * {
    color: black;

}
#prod_cat-nav li {
    list-style: none;
}
#prod_cat-nav li.product_cat {
    font-size: 1.6em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px 70px 0;
}
/* @media screen and (min-width: 1200px) {
    #prod_cat-nav li.product_cat:before {
        content: 'Shop by: ';
        text-transform: capitalize;
        color: grey;
    }
} */
#prod_cat-nav li.product_cat > ul {
    padding: 0;
    padding-top: .5em;
    font-size: 0.6em;
    font-weight: 500;
    text-transform: none;
}
#prod_cat-nav ul {
    display: block;
    transition-duration: 1s;
}
#prod_cat-nav li:hover {
    cursor: pointer;
}

#prod_cat-nav li.product_cat > ul > li {
    padding: .8em;
    margin-left: .5em;
}
#prod_cat-nav li.product_cat > ul > li:hover {
    background-color: white;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
#prod_cat-nav > li > ul,
#prod_cat-nav ul.children {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
    padding-top: 1em;
}
#prod_cat-nav li.product_cat > ul {
    left: -180px;
    top: 100px;
    width: 450px;
    background-color: #efefef;
}
#prod_cat-nav ul.children {
    position: fixed;
    left: 450px;
    top: 80px;
    width: calc(100vw - 490px);
    height: calc(100vh - 100px);
    overflow: ;
    background-color: white;
    border: 2px solid #efefef;
    line-height: 2em;
    columns: 2;
    column-gap: 4em;
    padding-right: 2em;
}
#prod_cat-nav ul li:hover > ul,
#prod_cat-nav ul li:focus-within > ul,
#prod_cat-nav ul li ul:hover,
#prod_cat-nav li.product_cat:hover > ul {
    visibility: visible;
    opacity: 1;
    display: block;
}
#prod_cat-nav ul li ul li {
    clear: both;
    width: 100%;
}







/*  Homepage Specific */
.elementor-testimonial__image {
    position: relative;
    top: -22px;
    left: -29px;
}









/* WooCommerce Products - Archive */

header.woocommerce-products-header.hasImgBG {
    background-position: center center;
    background-size: cover;
    min-height:  60vh;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    padding: 60px 40vw 60px 20vw;
}
.woocommerce.archive header.woocommerce-products-header.hasImgBG .woocommerce-products-header__title.page-title,
header.woocommerce-products-header.hasImgBG .term-description p {
    color: white;
    text-shadow: 0 0 10px black;
    text-align: center !important;
    float: none;
}
header.woocommerce-products-header.hasImgBG .term-description p a {
    color: #f1ef00;
}
.woocommerce.tax-product_cat nav.woocommerce-breadcrumb {
    float: left;
    margin-top: 20px;
}
h2.featured-title {
    clear: both;
    text-align: center;
    margin-bottom: 20px;
}
.slick-list {
    margin-left: -25px;
    margin-right: -25px;
}
.slick-slide {
    padding-left: 25px;
    padding-right: 25px;
}
body .elementor-slick-slider .slick-next:before,
body .elementor-slick-slider .slick-prev:before,
.elementor-slick-slider .slick-next,
.elementor-slick-slider .slick-prev,
.slick-slider .slick-prev:before,
.slick-slider .slick-next:before,
.slick-slider .slick-prev .nav-text,
.slick-slider .slick-next .nav-text {
    font-size: 35px;
    color: #000000;
}
.woocommerce ul.products li.product.sub-category, .woocommerce-page ul.products li.product.sub-category {
    margin: 0 2.4% 2.992em 0;
}
#long-desc {
    max-width: 700px;
    margin: 80px auto 0 auto;
}
ul#subCat-sidebar li {
    list-style: none;
    background-color: black;
    margin: 5px 0;
}
ul#subCat-sidebar li:hover {
    background-color: #00c7c6;
}
ul#subCat-sidebar li a {
    display: inline-block;
    padding: 10px;
    color: white;
    text-transform: uppercase;
}
ul#subCat-sidebar li a:hover {
    text-decoration: none;
}
ul#subCat-sidebar {
    padding: 0;
}
.product-star {
    margin: 40px 0;
}
.product-star h3 { background-color:  #f0ef37;text-align: center;font-size: 1.3em;font-weight: 600; margin: 0;}
.product-star a { border: 1px solid #eee; display: block; }
.product-star a, .product-star a:hover {
    text-decoration: none;
}
.product-star h2, .product-star p {
    color: white;
    background-color: black;
    margin: 0;
    padding: 15px;
    font-size: .7em;
}
.product-star h2 {
    padding-bottom: 0;
    font-weight: bold;
}
.product-star p {
    padding-top: 0;
}
.product-star img {
    margin: 0 auto;
    display: block;
}
.product-star button {
    color: white;
    background-color: #00c7c6;
    width: 100%;
    cursor: pointer;
}



/* Single Product page */

#freight-only, #freight-only img {
    text-align: center;
    margin: 0 auto;
    display: block;
}


/*  Wig Selection Radio Field  */

ul#input_1_1 li {
    width:  25%;
    float: left;
    text-align: center;
}
ul#input_1_1 li label {
    cursor: pointer;
}
ul#input_1_1 li input {
    display: none;
}




/*  Over-written in Customize */
div#tel-cart {
    display: flex;
    max-width: 424px;
}
div#tel-cart div {
    position: relative;
}
div#tel-cart h3 {
    font-size: 22px
}
div#tel-cart p {
    font-size: 12px;
    color: black;
}
div#media_image-2 {
    max-width: 50px;
    top: 5px
}
div#media_image-3 {
    max-width: 70px;
    top: -7px;
}
div#text-3 {
    margin: 0 40px 0 10px;
}



















